.App {
  text-align: center;
  margin: 40px;
  background-color: dodgerblue;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

input {
  line-height: 1.5rem;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
}

.login {
  font-family: lato;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

button {
  background-color: white;
  font-family: lato;
  font-size: 1.2rem;
  border-radius: 5px;
}
